################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IconMeter/obj
/IconMeter/bin
/.vs
/IconMeterSetup/Release
