################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IconMeter/obj
/IconMeter/bin
/.vs

/IconMeter/publish
/IconMeterSetup/Release
/IconMeterSetup64/Release
/IconMeterWPF/bin
/IconMeterWPF/obj
/packages
/IconMeterWixSetup64/bin/Release
/IconMeterWixSetup64/obj/Release
/IconMeterWixSetup64/bin/Debug
/IconMeterWixSetup64/obj/Debug
