<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IconMeterWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <IconMeterWPF.Properties.Settings>
            <setting name="ShowCpuUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMemoryUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDiskUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNetworkUsage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLogicalProcessorsUsage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseVerticalBars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CpuColor" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="MemoryColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="DiskColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="NetworkReceiveColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="NetworkSendColor" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
            <setting name="LogicalProcessorColor" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRestarting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndividualDiskColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="ShowIndividualDiskUsage" serializeAs="String">
                <value>False</value>
            </setting>
        </IconMeterWPF.Properties.Settings>
    </userSettings>
</configuration>
